.avs{
    color:crimson;
    text-align: center;
    font-size: larger;
    font-family: lucida calligraphy;
}
.p1{
    color: brown;
    font-size: large;
    text-align: center;
}
.product{
    border: 0px solid blue;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.pro{
    border: 2px solid lightblue;
    /* margin: 10px;
    padding: 10px; */
    text-align: center;
}
.pic{
    width: 200px;
    height: 200px;
}
.button{
    background-color: green;
    border-radius: 8px;
    width: 80px;
    height: 30px;
}
/* mobile */
@media only screen and (max-width: 600px){
    .product{
        display: grid;
        grid-template-columns: auto auto;
    }
}
/* tablet */
@media only screen and (min-width: 600px){
    .product{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (min-width: 1200px){
    .product{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}